body{
    font-family: 'Poppins', sans-serif; 
  }
  .first-header{
    display: inline-flex;
    background-color:	blueviolet;
    margin-bottom:200px;
  }
  .first-header h1{
    font-size: 40px;
  }
  .half-width{
    width: 50%;
    padding-left: 5px;
  }
  .half-width img{
    width:80%;
  }
  .link-button{
    text-decoration: none;
    background-color: cyan;
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 20px;
  }
  .link-button:hover{
      width: 200px;
      transform: translate(100);
  }
  .taz {
    width: 50px;
    height: 50px;
    background: cyan;
    transition: width 2s;
  }
  .naymer img{
      text-align: center;
  }
  
  .taz:hover {
    width: 300px;
  }
   {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 5px;
    box-shadow: 10px 10px 40px gray;
    margin-left:5%;
    margin-right: 5%;
     justify-content:space-between;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .icon {
      font-size: 30px;
      display: inline-flex;
      align-items: center;
      margin-left: 45%;
    margin-right: 45%;
  }
  .footer{
      text-align: center;
  }
  /* Media queries for mobile*/
  @media onely screen and (max-width:668px){
    .column {
        width: 100%;
      }
    .half-width{
        width: 100%;
    } 
    .half-width img{
        width:100%;
    }   
  }
/*Media queries for tablet*/
@media onely screen and (min-width: 768 px){
    .column {
        width: 100%;
      }
    .half-width{
        width: 100%;
    } 
    .half-width img{
        width:100%;
    }   
  }

}
    

  